__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

node_modules/
dist/
build/
.cache/

*.log
docker-data/
volumes/

.vs/
.idea/
*.iml
.classpath
.project
.settings/

.DS_Store
Thumbs.db

coverage/
pytest_cache/

*.env
.env.*
